* {
  font-family: Roboto;
  box-sizing: border-box;
  background: #1b1a17;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 58px;
  margin-bottom: 180px;
}

.field {
  display: flex;
  width: 846px;
  height: 96px;
  margin-bottom: 18px;
  font-size: 42px;
  background: rgba(36, 35, 32, 1);
  border: 3px solid #ff8303;
  border-radius: 10px;
  border: 3px 0px;
}

.inputs input {
  padding: 25px;
  color: #f0e3ca;
}

.inputs input:focus {
  outline: none;
  background: #1b1a17;
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 5px solid #ff8303;
  background: rgba(36, 35, 32, 1);
  width: 210px;
  height: 210px;
  margin-left: 20px;
  cursor: pointer;
}

.addButton:active {
  background: #1b1a17;
  border: 5px solid #a35709;
  .vertical,
  .horizontal {
    border: 4.5px solid #a35709;
  }
}

.vertical {
  width: 72px;
  border-radius: 8px;
  border: 8px;
  border: 4.5px solid #ff8303;
  position: absolute;
}

.horizontal {
  height: 72px;
  border-radius: 8px;
  border: 8px;
  border: 4.5px solid #ff8303;
  position: absolute;
}

.taskContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
