.openTools {
  display: flex;
  align-items: end;
  flex-direction: column;
  width: 862px;
  margin-bottom: 40px;
}

.task {
  display: flex;
  width: 862px;
  height: 180px;
  background: rgba(36, 35, 32, 1);
  border-radius: 20px;
  border: 5px solid #ff8303;
  color: #f0e3ca;
  padding: 20px;
  margin-bottom: 40px;
  cursor: pointer;
  position: relative;
}

.textArea {
  width: 662px;
  height: 116px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background: none;
}

.task h1 {
  font-size: 55px;
  margin: 0;
  background: none;
}

.task h2 {
  font-size: 35px;
  margin: 5px 0 0 0;
  background: none;
}

.dellButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 5px solid #ff8303;
  background: #1b1a17;
  width: 80px;
  height: 80px;
  margin-left: 40px;
  cursor: pointer;
}

.dellButton img {
    background: none;
}

.dellButton:active {
  background: rgba(36, 35, 32, 1);
  border: 5px solid #a35709;
}

.dellButton img {
  width: 26px;
  height: 26px;
}

.tools {
  display: flex;
  justify-content: space-between;
  width: 310px;
  
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.tools.expanded {
  max-height: 100px;
  opacity: 1;
}

.tools.collapsed {
  max-height: 0;
  opacity: 0;
}

.tools button {
    width: 90px;
    height: 90px;
    background: rgba(36, 35, 32, 1);
  border-radius: 20px;
  border: 5px solid #ff8303;
  cursor: pointer;
}

.tools button:active {
    background: #1b1a17;
    border: 5px solid #a35709;
}

.tools img {
    width: 40px;
    height: 40px;
    background: none;
}
